.tara-header {
  background-color: #343a40;
  color: #fff;
}

.tara-nav {
  display: flex;
  align-items: center;
  padding: 2vh 0;
  font-size: 1.5rem;

  .brand {
    margin-left: 2vw;

    .brand-text {
      padding: 0.5rem 1.2rem;
    }
  }

  .bars {
    margin-left: auto;
    margin-right: 2vw;

    i {
      border: 1px solid #666;
      padding: 0.5rem 1.2rem;
      border-radius: 3px;
    }
  }
}

.page-intro {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: white;

  h1 {
    font-size: 34px;
    font-weight: 500;
  }

  p {
    color: #6c757d;
    line-height: 1.2;
    font-size: 25px;
  }

  .buttons {
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    color: white;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 720px) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .btn1,
      .btn2 {
        margin-bottom: 0.5rem;
      }
    }

    .btn1,
    .btn2 {
      border-radius: 5px;
      padding: 0.7rem 1.5rem;
      margin-right: 0.5rem;
    }

    .btn1 {
      background-color: #007bff;

      &:hover {
        background-color: darken(#007bff, 25%);
      }
    }

    .btn2 {
      background-color: #6c757d;

      &:hover {
        background-color: darken(#6c757d, 25%);
      }
    }
  }
}

.tara-footer {
  padding: 4.5rem;
  color: #6c757d;
  font-size: 18px;
  background-color: white;

  a {
    color: #007bff;
  }

  .right-footer {
    .span {
      padding-bottom: 0.5rem;
    }
  }
}

.tara-card {
  border-radius: 5px;
  border: 1px solid rgba(#888, 0.6);
  box-shadow: 1px 2px rgba(#888, 0.4);
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;

  img {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  p {
    padding: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: lighten(black, 10%);
  }

  div {
    padding: 0.4rem 0.5rem;

    div {
      float: left;
    }

    span {
      vertical-align: middle;
      float: right;
      color: lighten(black, 20%);
    }
  }
}

.btn {
  padding: 0.4rem 0.6rem;
  border-radius: 3px;
  border: 1px solid #777;
  color: #787878;
  font-size: 0.9rem;

  &:hover {
    background-color: #787878;
    color: #fff;
  }
}

.btn-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
